@model SistControleEstoque.Models.Produto

@{
    ViewData["Title"] = "Detalhes do Produto";
}

<h1 class="my-4">Detalhes do Produto</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Produto</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Descricao)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Quantidade)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Quantidade)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Preco)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Preco)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Categoria.Nome)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Fornecedor)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Fornecedor.Nome)
            </dd>
        </dl>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning btn-sm">Editar</a>
    <a asp-action="Index" class="btn btn-secondary btn-sm">Voltar para a lista</a>
</div>
