@model IEnumerable<SistControleEstoque.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h1 class="my-4">Produtos</h1>

<p>
    <a asp-action="Create" class="btn btn-success mb-3">Adicionar Produto</a>
</p>

@if (TempData["Erro"] != null)
{
    <div class="alert alert-danger">
        @TempData["Erro"]
    </div>
}

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th>@Html.DisplayNameFor(model => model.Descricao)</th>
                <th>@Html.DisplayNameFor(model => model.Quantidade)</th>
                <th>@Html.DisplayNameFor(model => model.Preco)</th>
                <th>@Html.DisplayNameFor(model => model.Categoria)</th>
                <th>@Html.DisplayNameFor(model => model.Fornecedor)</th>
                <th>@Html.DisplayNameFor(model => model.EstoqueMinimo)</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quantidade)</td>
                    <td>@Html.DisplayFor(modelItem => item.Preco)</td>
                    <td>@Html.DisplayFor(modelItem => item.Categoria.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Fornecedor.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.EstoqueMinimo)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
