@model SistControleEstoque.Models.Funcionario

@{
    ViewData["Title"] = "Detalhes do Funcionário";
}

<h1 class="my-4">Detalhes do Funcionário</h1>

<div class="card">
    <div class="card-header">
        <h4>Funcionário: @Model.Nome</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cpf)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cpf)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cargo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cargo)
            </dd>
        </dl>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
</div>
